.md-whiteframe-z2
    md-toolbar.site-toolbar 
        h1.md-headline {{ "PROJECTS" | translate | uppercase }}  >  {{ "PROJECTS_CLOUD_CONNECT" | translate }}
    md-content(layout-wrap="", layout="row", layout-gt-sm="row")
        p.site-pad-left More information coming soon...