.md-whiteframe-z2
    md-toolbar.site-toolbar 
        h1.md-headline {{ "PROJECTS" | translate | uppercase }}  >  {{ "PROJECTS_PATS" | translate }}
    md-content.site-pad(md-theme="dark", layout="column")
        div(layout="column", layout-gt-sm="row")
            div(flex="100", flex-gt-sm="30", layout-padding="", layout="row", layout-align="center start", style="min-width:150px;")
                img.site-img-circle(src="{{ vm.patsData.img }}", width="100%", height="auto", style="max-width:250px;")
            .site-pad-left(flex="100", flex-gt-sm="70", layout="column")
                span.md-headline {{ vm.patsData.name }}
                span.md-subhead {{ vm.patsData.company }} 
                p {{ vm.patsData.description }}
                div(flex="")
                div(layout="row", layout-align="end end")
                    md-button.md-raised.md-primary(ng-click="vm.back()") {{ "BACK" | translate }}
        .site-pad-top(layout-wrap="", layout="row", layout-gt-sm="row")
            div(ng-repeat="feature in vm.patsData.features", layout="column", flex-gt-md="50", flex="100")
                md-card.site-no-pad(md-theme="default", layout="column", layout-gt-sm="row")
                    div(flex="100", flex-gt-sm="50",layout="row", layout-align="center start", style="min-width:150px;")
                        img(src="{{ feature.img }}", width="100%", height="auto")
                    .site-pad-left(flex="100", flex-gt-sm="50")
                        md-card-title(layout="row")
                            md-card-title-text
                                span.md-headline {{ feature.title }}
                        md-card-content(layout="column", flex="")
                            p {{ feature.description }}
                            div(flex="")
                            div(layout="row", layout-align="end end")
                                md-button.md-raised.md-accent(ng-click="vm.redirect(feature.link)") {{ "VISIT_SITE" | translate }}