md-sidenav.md-sidenav-left.md-whiteframe-z2.site-sidenav(md-component-id="left", md-is-locked-open="$mdMedia('gt-sm')", layout= "column", flex="",ng-cloak="")
    md-toolbar.md-tall.md-hue-2
        .md-toolbar-tools-bottom.inset(layout='column', flex="")
    md-list
        md-item(ng-repeat='item in vm.menu', flex="")
            a(href="{{item.link}}", ng-click="vm.openLeftMenu()", aria-label="Open Left Menu")
                md-item-content.site-menu-hover(layout='row', layout-align='start center')
                    .inset
                        ng-md-icon(icon='{{item.icon}}')
                    .inset
                        | {{item.title | translate }}
        md-divider
div(layout="column", flex="")
    md-toolbar.md-whiteframe-z2.md-medium-tall.site-main-toolbar(layout="row", layout-align="start center", flex="")
        md-button.md-icon-button.click-menu-open(ng-click="vm.openLeftMenu()", hide-gt-sm="", aria-label="Open Left Menu")
            ng-md-icon(icon="menu", size="24")
        div(flex="")
        div(layout= "column", layout-align="center center")
            h1.site-pad-right.site-no-margin.site-blue James Hester
            h4.site-pad-right.site-no-margin Web Application Developer
    md-content(flex="", ng-class="{'site-main': vm.$mdMedia('gt-sm')}")
        div(ui-view="mainContent", flex="", layout="column")
    div(ui-view="buttonContent")
