<div class="md-whiteframe-z2">
    <md-toolbar class="site-toolbar">
        <h1 class="md-headline">{{ "PROJECTS" | translate | uppercase }} > {{ "PROJECTS_CLOUD_CONNECT" | translate }}</h1>
    </md-toolbar>
    <md-content layout-wrap="" layout="row" layout-gt-sm="row">
        <div ng-repeat="project in vm.projects" layout="column" flex-gt-md="50" flex="100">
            <md-card><img/>
                <md-card-title layout="row">
                    <md-card-title-text flex="50"><span class="md-headline">{{ project.name }}</span><span class="md-subhead">{{ project.company }}</span></md-card-title-text>
                </md-card-title>
                <md-card-content></md-card-content>
            </md-card>
        </div>
    </md-content>
</div>