.md-whiteframe-z2
    md-toolbar.site-toolbar 
        h1.md-headline {{ "EXPERIENCE" | translate | uppercase }}
    md-content(layout-wrap="", layout="row", layout-gt-sm="row")
        div(ng-repeat="job in vm.jobs", layout="column", flex-gt-md="50", flex="100")
            md-card
                img
                md-card-title(layout="row")
                    md-card-title-text(flex="50")
                        span.md-headline {{ job.company }}
                        span.md-subhead {{ job.position }} / {{ job.location }}
                        span.md-subhead {{ job.dates }}
                    md-card-title-media(flex="50", layout="row", layout-padding="", layout-align="end center")
                        img(ng-src="{{ job.img }}", width="100%", height="auto", style="max-width:300px;")
                md-card-content
                    md-list
                        md-list-item(ng-repeat="duty in job.duties") + {{ duty }}


        